Jakob Voss <voss@gbv.de> <jakob@nichtich.de>
Ricardo Signes <rjbs@semiotic.systems> <rjbs@codesimply.com>
Ricardo Signes <rjbs@semiotic.systems> <rjbs@cpan.org>
Ricardo Signes <rjbs@semiotic.systems> <rjbs@users.noreply.github.com>
